@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}
.header {
  height: 9vh;
  width: 100vw;
  display: flex;
  justify-self: space-between;
  align-items: center;
}
.header .left {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}
.left .logo {
  margin-left: 150px;
  margin-right: 5px;
}
.left .logo > img {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
}
.left .search-bar {
  height: 32px;
  width: 300px;
  background-color: rgb(212, 233, 240);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 20px;
}
.left .search-bar > img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.left .search-bar > p {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1.5px;
}
.header .middle {
  height: 100%;
  width: 40%;
  border-right: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.icon__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
  padding: 0px 10px;
}
/* .icon__group:hover {
  border-bottom: 5px solid black;
} */
.icon__group > img {
  height: 25px;
  width: 25px;
  margin-bottom: 2px;
}
.icon__group > p {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.icon__group.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__group .user-container {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgb(236, 189, 170);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.user-container > img {
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  height: 15px;
  width: 15px;
}
.icon__group .user-info {
  display: flex;
}
.user-info > img {
  height: 15px;
  width: 15px;
}
.user-info > p {
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 13px;
  margin-right: 2px;
}
.header .right {
  width: 20%;
  height: 100%;
  display: flex;
}
.right .icon__group {
  margin-left: 30px;
}
.right .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 30px;
}
.content p {
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  color: rgb(125, 29, 29);
}
.main {
  min-height: 90vh;
  background-color: lightgrey;
  display: flex;
  padding-top: 30px;
}
.main .main__left {
  width: 28%;
  margin-right: 10px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}
.main__left .welcome__container {
  height: 50%;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.welcome__container {
  display: flex;
  flex-direction: column;
}
.welcome__container > div {
  padding: 10px;
  margin-top: 10px;
  border-top: 0.1px solid grey;
}
.welcome__container > img {
  height: 30px;
  width: 30px;
  position: relative;
  top: 10px;
  left: 100px;
  border-radius: 50%;
}
.welcome__container .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.welcome__container .welcome > p {
  text-decoration: solid;
}
.welcome__container .welcome > a {
  text-decoration: none;
}
.welcome__container .connections {
  display: flex;
  flex-direction: column;
  height: 25%;
}

.welcome__container .connections .connections_item {
  display: flex;
  justify-content: space-between;
}
.welcome__container .connections .connections_item > p:nth-child(1) {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1px;
}
.welcome__container .connections > .connections_item:nth-child(2) > p {
  font-weight: bold;
  letter-spacing: 1px;
}
.welcome__container .connections .connections_item > p:nth-child(2) {
  color: blue;
}
.welcome__container .premium {
  height: 20%;
}
.welcome__container .premium > p:nth-child(1) {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1px;
}
.welcome__container .items {
  height: 15%;
  display: flex;
}
.welcome__container .items > img {
  margin-right: 5px;
}
.main .main__middle {
  margin-right: 10px;
  min-height: 80vh;
  width: 44%;
}
.main__middle .new_post_container {
  height: 20%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.new_post_container {
  display: flex;
  flex-direction: column;
}
.new_post_container .top {
  display: flex;
  margin-bottom: 20px;
}
.new_post_container .top > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(120, 135, 149);
  margin-right: 10px;
}
.new_post_container .top .post {
  height: 47px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-indent: 20px;
  border: 0.01px solid grey;
}
.top .post > p {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;
}
.new_post_container .bottom {
  display: flex;
  justify-content: space-between;
}
.new_post_container .bottom .icon__group__flex {
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bottom .icon__group__flex > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.main__middle .post {
  height: 50%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.post .post__user__info {
  height: 25%;
  display: flex;
  /* justify-content: space-between; */
}
.post__user__info .user__avatar > img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.post__user__info .user__details {
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.user__details .recent__view {
  display: flex;
  align-items: center;
}
.user__details > p:nth-child(2) {
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 1px;
}

.recent__view > img {
  height: 20px;
  width: 20px;
}
.post .post__content {
  height: 50%;
  display: flex;
  justify-content: center;
}
.post__content > img {
  height: 120px;
  width: 120px;
  margin-right: 10px;
  border-radius: 10px;
}
.post .post__utilities {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post__utilities .utility__item {
  display: flex;
  cursor: pointer;
}
.post__utilities .utility__item > img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.post .post__reviews {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.001px solid lightgrey;
  padding: 2px;
}
.post__reviews > p {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 12px;
}
.main .main__right {
  margin-right: 10px;
  min-height: 80vh;
  width: 28%;
  padding-left: 30px;
}
.main__right .news_container {
  height: 50%;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.news_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.news_container ul {
  padding: 20px;
}
.news_container .news__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.news_container .news__heading > img {
  height: 25px;
  width: 25px;
}
.news__item {
  margin-bottom: 5px;
}
.news__item > p:nth-child(1) {
  font-size: 15px;
}
.news_container .news__item > p:nth-child(2) {
  font-weight: 200;
  font-size: 12px;
}
.message__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 10px;
  height: 7vh;
  width: 20vw;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}
.messaging__left {
  display: flex;
  margin-left: 45px;
  align-items: center;
}
.messaging__left > img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: lightgrey;
  cursor: pointer;
}

.messaging__right {
  display: flex;
  margin-right: 45px;
}
.messaging__right > img {
  margin-right: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.main__left .recent__container {
  height: 50%;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.recent__container .recent__item {
  display: flex;
}
.recent__item > img {
  height: 15px;
  width: 15px;
}
.recent__container > p {
  margin: 10px 0px;
}
.recent__container .recent__discover__more {
  border-top: 0.01px dotted grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.main__right .ads__card {
  height: 45%;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
}
.ads__card > p:nth-child(1) {
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  left: 30px;
  top: 30px;
}
.ads__card > img {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 150px;
  width: 150px;
}
.footer {
  height: 20%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer > img {
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}
