* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 98.5vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid whitesmoke;
}
img {
  height: 40px;
  width: 40px;
}
.header__item {
  height: 100%;
  width: 100%;
  margin-right: 7px;
  display: flex;
  align-items: center;
}
.header__item.left {
  flex-basis: 40%;
  justify-content: center;
}
.header__item.left > * {
  margin-right: 10px;
}
.header__item.left > input {
  height: 40px;
  width: 60%;
  text-indent: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: black;
  background: lightblue url("./Assets/search.png") no-repeat left center;
  background-size: 20px 20px;
  letter-spacing: 0.5px;
}
.header__item.left > input::placeholder {
  text-indent: 20px;
  color: black;
  opacity: 0.8;
  text-align: left center;
  letter-spacing: 0.5px;
}
.header__item.middle {
  flex-basis: 40%;
  justify-content: center;
  border-right: 0.5px solid gray;
}
.middle .middle__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: max-content;
  margin: 0px 5px;
  position: relative;
  border-bottom: 5px solid transparent;
}
.middle .middle__item:hover {
  cursor: pointer;
  border-bottom: 5px solid black;
}
.middle .middle__item > img {
  height: 25px;
  width: 25px;
  opacity: 0.6;
}
.middle .middle__item:nth-child(4)::after {
  content: "2";
  color: white;
  height: 20px;
  width: 15px;
  top: 5px;
  right: 35px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
.middle .middle__item:nth-child(5)::after {
  content: "5";
  color: white;
  height: 20px;
  width: 15px;
  top: 5px;
  right: 35px;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

.header__item.right {
  flex-basis: 20%;
  justify-content: space-around;
}

.right .right__item {
  display: flex;
  flex-direction: column;
}
.right .right__item > img:hover {
  cursor: pointer;
}

.right .right__item > img:nth-child(1) {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.right .right__item > img:nth-child(2) {
  height: 25px;
  width: 25px;
  opacity: 0.6;
  transform: rotate(180deg);
}

.right > p {
  color: brown;
  width: 120px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* page body */
.page__body {
  min-height: 90vh;
  width: 100%;
  background-color: lightgray;
  display: flex;
}
/* page left */
.page__left {
  margin-top: 20px;
  height: 100%;
  width: 27%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* page left user info */
.page__left .user__info {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
/* page left user info profle*/
.user__info .user__info--profile {
  width: 100%;
  height: 15%;
  background: url("./Assets/background.jpg") no-repeat center/cover;
  position: relative;
  border-radius: 10px 10px 0px 0px;
}
/* page left user info profle image*/
.user__info .user__info--profile > img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 33%;
}
/* page left user info  name*/
.user__info .user__info--name {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 0.1px dotted gray;
}
/* page left user info views*/
.user__info .user__info--views {
  padding: 10px;
  width: 100%;
  height: 25%;
  border-bottom: 0.1px dotted gray;
}
.user__info .user__info--views > p:nth-child(2) {
  margin-bottom: 10px;
}

/* page left user info views, views item*/
.user__info--views .views__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__info--views .views__item > p:nth-child(2) {
  color: blue;
}

/* page left user info premium*/
.user__info .user__info--premium {
  width: 100%;
  height: 20%;
  padding: 10px;
  border-bottom: 0.1px dotted gray;
}
/* page left user info items*/
.user__info .user__info--items {
  width: 100%;
  height: 10%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.user__info .user__info--items > img {
  height: 20px;
  width: 20px;
}
.user__info .user__info--items > * {
  margin-right: 10px;
}

/* page left recent articles */
.page__left .recent__articles {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
/* page left recent articles recent item*/
.page__left .recent__articles .recent__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* page left recent articles recent item img */
.recent__articles .recent__item > img {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.recent__discover__more {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.1px solid gray;
}
.recent__articles > * {
  margin-bottom: 5px;
}

/* page main */
.page__main {
  margin-top: 20px;
  height: 100%;
  width: 42%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* page main new post */
.page__main .new__post {
  height: 125px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
/* page main new post top */
.new__post .new__post--top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
/* page main new post top profile */
.new__post .new__post--top > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
/* page main new post top input */
.new__post .new__post--top > input {
  height: 50px;
  width: 100%;
  border-radius: 30px;
  outline: none;
  text-indent: 20px;
}
/* page main new post bottom */
.new__post .new__post--bottom {
  display: flex;
  justify-content: space-around;
}
/* page main new post bottom item*/
.new__post .new__post--bottom .bottom__item {
  display: flex;
  align-items: center;
}
/* page main new post bottom item on hover */
.new__post .new__post--bottom .bottom__item:hover {
  cursor: pointer;
}
/* page main new post bottom item image*/
.new__post .new__post--bottom .bottom__item > img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

/* page main post */
.page__main .post {
  height: 500px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.post .posted__user--info {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.posted__user--info .user__info {
  height: 100%;
  display: flex;
  align-items: center;
}
.user__info > img:nth-child(1) {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.posted__user--info > img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.user__info .posted__user--details {
  display: flex;
  flex-direction: column;
}
.post .post__data {
  height: 70%;
  width: 100%;
}
.post__data > img {
  height: 100%;
  width: 100%;
  object-fit: fill / center;
}
.post__data > video {
  height: 93%;
  width: 100%;
}
.post__data > p {
  padding: 0px 10px;
  margin-bottom: 5px;
}
.post .post__reviews {
  display: flex;
  align-items: center;
  height: 5%;
  padding: 0px 10px;
  margin: 5px 0px;
  border-bottom: 0.1px dotted grey;
}
.post__reviews > img {
  height: 100%;
  width: 20px;
  margin-right: 10px;
}
.post__reviews > img:nth-child(3) {
  margin-right: 30px;
}

/* post utilities */
.post .post__utilities {
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-around;
}
.post__utilities .post__utilities--item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.post__utilities .post__utilities--item > img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/* page right */
.page__right {
  margin-top: 20px;
  height: 100%;
  width: 22%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* page right linked in news */
.page__right .linkedin__news {
  height: 300px;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
/* page right linked in news news heading */
.linkedin__news .news__heading,
.recent__courses .courses__heading,
.personal__feed .feed__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* page right linked in news news heading image*/
.linkedin__news .news__heading > img,
.recent__courses .courses__heading > img,
.personal__feed .feed__heading > img {
  height: 20px;
  width: 20px;
}
/* page right linked in news */
.linkedin__news .news__item,
.recent__courses .courses__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* page right linked in news ul*/
.linkedin__news .u__list,
.recent__courses .u__list {
  padding: 10px 20px;
}
/* page right linked in news ul li */
.linkedin__news .u__list .news__list--item,
.recent__courses .u__list .courses__list--item {
  margin-bottom: 5px;
}
/* page right linked in news ul li 1st p*/
.linkedin__news .u__list .news__list--item > p:nth-child(1),
.recent__courses .u__list .courses__list--item > p:nth-child(1) {
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 0.5px;
}
/* page right linked in news ul li 2nd p*/
.linkedin__news .u__list .news__list--item > p:nth-child(2),
.recent__courses .u__list .courses__list--item > p:nth-child(2) {
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 1.5px;
}

/* page right recent courses */
.page__right .recent__courses {
  height: 200px;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}
/* page right personal feed */
.page__right .personal__feed {
  height: 400px;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
/* page right personal feed feed__item */
.personal__feed .feed__item {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 0.1px dotted gray;
}
/* page right personal feed feed__item img */
.feed__item > img {
  height: 60px;
  width: 60px;
  margin-right: 5px;
}
/* page right personal feed feed__item details */
.feed__item .feed__item--details {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* page right personal feed feed__item details button */
.feed__item .feed__item--details > button {
  height: 30px;
  width: 100px;
  border-radius: 30px;
  background-color: #fff;
  outline: none;
}
